<div class="bg-black p-5 py-[5rem] w-full">
    <div class="grid grid-cols-12 gap-4">

        <div class="col-span-12 md:col-span-3 text-center">
            <h1 class="font-Amelaryas text-5xl text-white sm:leading-none">
                Urban Nest
            </h1>
            <p class="font-Amsterdam my-8 text-xs text-white ">
                Elegance for every space
            </p>
        </div>

        <div class="col-span-12 md:col-span-4 text-white ">

            <div class="w-full sm:w-[80%] mx-auto">

                <p class="font-Poppins my-4 text-sm"> Subscribe to our Newletter for daily Updates !</p>

                <div class="flex">
                    <div class="flex-1 ">
                        <input class="bg-white p-3 w-[90%] font-Poppins" placeholder="Email" />
                    </div>
                    <div class="">
                        <button class="p-3 text-white bg-emerald-600 rounded-sm">
                            Subscribe
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-span-12 md:col-span-3 text-white">

            <div class="w-full sm:w-[80%] mx-auto">

                <h3 class="text-xl font-Poppins font-semibold my-4 text-center"> Follow us on</h3>

                <div class="flex justify-evenly w-[60%] mx-auto">
                    <div class="border-2 border-white  w-12 h-12 rounded-full p-2 flex items-center justify-center">
                        <fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon>
                    </div>

                    <div class="border-2 border-white  w-12 h-12 rounded-full p-2 flex items-center justify-center">
                        <fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon>
                    </div>

                    <div class="border-2 border-white  w-12 h-12 rounded-full p-2 flex items-center justify-center">
                        <fa-icon class="text-2xl" [icon]="faLinkedin"></fa-icon>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-span-12 md:col-span-2 text-white">


            <div class="w-full sm:w-[80%] mx-auto">

                <p class="text-xl font-Poppins my-4 font-semibold text-white text-center ">Call Us at</p>
                <p class="text-xl font-Poppins my-4  text-white text-center ">0251-0087454</p>

            </div>

        </div>

       
    </div>
    <div class="border-t-2 border-white w-[95%] mt-[3rem] mb-3 mx-auto ">

    </div>

    <p class="font-Poppins text-white text-center">
        &copy; {{year}}, urban Nest , SunnyVille Calfornia, All rights reserved
    </p>

</div>