<div class="p-2 md:p-5 flex justify-between items-center shadow-sm border-2 border-gray-100">
    <div class="">
        <h1 [routerLink]="['']" routerLinkActive="router-link-active"  class="cursor-pointer font-Amelaryas text-md md:text-xl ">
            Urban Nest
        </h1>
    </div>
    <div class="md:flex px-4 hidden ">
        <a [routerLink]="['']" routerLinkActive="router-link-active" class="mx-5 font-Poppins">Home</a>
        <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="mx-5 font-Poppins">Categories</a>
        <a [routerLink]="['/about']" routerLinkActive="router-link-active" class="mx-5 font-Poppins">About</a>
        <a [routerLink]="['/cart']" routerLinkActive="router-link-active" class="mx-5 font-Poppins"><mat-icon [matBadge]="count"
                matBadgeColor="primary">shopping_cart</mat-icon></a>
    </div>
    <div class="md:hidden flex items-center" (click)="toogleMenu()">
        <mat-icon fontIcon="menu"></mat-icon>
    </div>
</div>

@if (menuOpen){
<div class="md:hidden font-Poppins">
    <div class="m-5">

        <a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
    </div>
    <div class="m-5">

        <a [routerLink]="['/categories']" routerLinkActive="router-link-active">Categories</a>
    </div >
    <div class="m-5">
        <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>

    </div >
    <div class="m-5">
        <a [routerLink]="['/cart']" routerLinkActive="router-link-active"><mat-icon [matBadge]="count"
                matBadgeColor="primary">shopping_cart</mat-icon></a>

    </div>
</div>
}