<!-- categories.component.html -->


<div class="container mx-auto my-10">

  <div class="h1 text-3xl font-Poppins text-gray-600 ">
    Explore all categories
  </div>

  <div class=" my-5">
    <mat-form-field class="">
      <mat-label>Categories</mat-label>
      <mat-select [formControl]="category" (selectionChange)="handleChange()">

        @for (item of categoryList; track item) {
        <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <h2 class="font-Silka text-2xl font-semibold text-gray-500">
    {{category.value}}
  </h2>

  <app-card [data]="dataArray"></app-card>

</div>