<div class="grid md:grid-cols-2 bg-rose-300 place-items-center ">
    <div class="py-5 my-10">
        <p class="font-Poppins text-5xl font-semibold">Upto 50% off </p>
        <p class="my-10 font-Poppins md:font-Amsterdam text-3xl font-semibold">Grab the deal Now</p>
    </div>
    <div class="w-[70%] mx-auto">
        <img src="../../../assets/images/png/deal.png" alt="grab-deal" class="w-[50%] h-auto object-contain" />
    </div>
</div>

<div class="p-2 sm:p-0 container mx-auto my-10">

    <div class="flex justify-between items-center">
        <div class="">
            <h2 class="font-Silka text-3xl">
                Men's Clothing
            </h2>
        </div>
        <div class=" cursor-pointer bg-rose-500 p-2 px-3 text-lg text-white font-Poppins rounded-3xl"
            [routerLink]="['/categories']" routerLinkActive="router-link-active">
            Explore
        </div>
    </div>

    <app-card [data]="mensClothing"></app-card>

</div>


<div class="container mx-auto my-10">

    <div class="flex justify-between items-center">
        <div class="">
            <h2 class="font-Silka text-3xl">
                Women's Clothing
            </h2>
        </div>
        <div class=" cursor-pointer bg-rose-500 p-2 px-3 text-lg text-white font-Poppins rounded-3xl"
            [routerLink]="['/categories']" routerLinkActive="router-link-active">
            Explore
        </div>
    </div>

    <app-card [data]="femaleClothing"></app-card>

</div>



<div class="container mx-auto my-10">

    <div class="flex justify-between items-center">
        <div class="">
            <h2 class="font-Silka text-3xl">
                Jewellery's
            </h2>
        </div>
        <div class=" cursor-pointer bg-rose-500 p-2 px-3 text-lg text-white font-Poppins rounded-3xl"
            [routerLink]="['/categories']" routerLinkActive="router-link-active">
            Explore
        </div>
    </div>

    <app-card [data]="jewelleryProducts"></app-card>

</div>



<div class="container mx-auto my-10">

    <div class="flex justify-between items-center">
        <div class="">
            <h2 class="font-Silka text-3xl">
                Electronics
            </h2>
        </div>
        <div class=" cursor-pointer bg-rose-500 p-2 px-3 text-lg text-white font-Poppins rounded-3xl"
            [routerLink]="['/categories']" routerLinkActive="router-link-active">
            Explore
        </div>
    </div>

    <app-card [data]="electronics"></app-card>

</div>